<%- include("partials/header") %>

<div id="showContainer">
    <h1><%= blog.title %></h1>
    
        <div class = "item">
            <div id="imageHolder">
            <img src="<%= blog.image %>" alt="">
            </div>
            <div id = "content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= blog.body %></p>
            </div id="deleteFlex">
            <a class="showButton" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form class="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
</div>

<%- include("partials/footer") %>